# About
Image Segmentation using Clustering Techniques i.e Hard and Soft Clustering.


Hard clustering algorithm - K-means

Soft clustering algorithm - Gaussian Mixture Models(GMMs)

 Dataset used Brain MRI Segmentation dataset. [Kaggle Link](https://www.kaggle.com/mateuszbuda/lgg-mri-segmentation/code)

In [12]:
|#importing modules
import os
import cv2
import numpy as np
import pandas as pd
from tqdm import tqdm
import random
from itertools import chain
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline
from glob import glob
from skimage.io import imread, imshow, concatenate_images
from skimage.transform import resize
from skimage.morphology import label
from skimage.color import rgb2gray
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, normalize

In [13]:
os.chdir('/content/drive/MyDrive/Colab Notebooks/Dataset/BrainMRI')

In [14]:
!ls

archive.zip  kaggle_3m	lgg-mri-segmentation

In [15]:
directory_path = 'kaggle_3m/'

In [17]:
dataset = pd.read_csv('kaggle_3m/data.csv')

In [18]:
dataset.info

<bound method DataFrame.info of           Patient  RNASeqCluster  MethylationCluster  ...  race  ethnicity  death01
0    TCGA_CS_4941            2.0                 4.0  ...   3.0        2.0      1.0
1    TCGA_CS_4942            1.0                 5.0  ...   2.0        NaN      1.0
2    TCGA_CS_4943            1.0                 5.0  ...   3.0        NaN      0.0
3    TCGA_CS_4944            NaN                 5.0  ...   3.0        NaN      0.0
4    TCGA_CS_5393            4.0                 5.0  ...   3.0        NaN      0.0
..            ...            ...                 ...  ...   ...        ...      ...
105  TCGA_HT_8563            2.0                 5.0  ...   3.0        2.0      0.0
106  TCGA_HT_A5RC            2.0                 4.0  ...   3.0        2.0      1.0
107  TCGA_HT_A616            NaN                 5.0  ...   3.0        2.0      0.0
108  TCGA_HT_A61A            NaN                 5.0  ...   3.0        2.0      0.0
109  TCGA_HT_A61B            NaN                 5.0  ...   NaN        NaN      NaN

[110 rows x 18 columns]>

In [19]:
dataset.head()

        Patient  RNASeqCluster  MethylationCluster  ...  race  ethnicity  death01
0  TCGA_CS_4941            2.0                 4.0  ...   3.0        2.0      1.0
1  TCGA_CS_4942            1.0                 5.0  ...   2.0        NaN      1.0
2  TCGA_CS_4943            1.0                 5.0  ...   3.0        NaN      0.0
3  TCGA_CS_4944            NaN                 5.0  ...   3.0        NaN      0.0
4  TCGA_CS_5393            4.0                 5.0  ...   3.0        NaN      0.0

[5 rows x 18 columns]

In [20]:
!ls

archive.zip  kaggle_3m	lgg-mri-segmentation