- Dataset Link - 
https://www.kaggle.com/datasets/mfaisalqureshi/hr-analytics-and-job-prediction

In [6]:
# importing modules
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [5]:
df = pd.read_csv('HR_comma_sep.csv')
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

##### 1. Data pre-processing.

In [4]:
# Remove any rows with missing data
df.dropna(inplace=True)

In [8]:
# encode categorical variables using one hot encoding
categorical_columns = ["Department","salary"]
df = pd.get_dummies(df, columns= categorical_columns)

In [9]:
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department_IT,Department_RandD,...,Department_hr,Department_management,Department_marketing,Department_product_mng,Department_sales,Department_support,Department_technical,salary_high,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0.80,0.86,5,262,6,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,0.11,0.88,7,272,4,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,0.72,0.87,5,223,5,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0.37,0.52,2,159,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14995,0.37,0.48,2,160,3,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14996,0.37,0.53,2,143,3,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14997,0.11,0.96,6,280,4,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14998,0.37,0.52,2,158,3,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [12]:
# scale numeric columns
numeric_columns = ['number_project', 'average_montly_hours','time_spend_company']
df[numeric_columns] = (df[numeric_columns] - df[numeric_columns].mean())/ df[numeric_columns].std()
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department_IT,Department_RandD,...,Department_hr,Department_management,Department_marketing,Department_product_mng,Department_sales,Department_support,Department_technical,salary_high,salary_low,salary_medium
0,0.38,0.53,-1.462814,-0.882010,-0.341224,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0.80,0.86,0.971081,1.220382,1.713379,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,0.11,0.88,2.593677,1.420610,0.343644,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,0.72,0.87,0.971081,0.439493,1.028511,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0.37,0.52,-1.462814,-0.841965,-0.341224,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,-1.462814,-1.002147,-0.341224,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14995,0.37,0.48,-1.462814,-0.821942,-0.341224,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14996,0.37,0.53,-1.462814,-1.162329,-0.341224,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14997,0.11,0.96,1.782379,1.580792,0.343644,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
14998,0.37,0.52,-1.462814,-0.861988,-0.341224,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0