#### About

> Relational database management system(RDBMS)

A relational database management system (RDBMS) is a software system that allows us to create, update, and manage relational databases. A relational database is a database that organizes data into one or more tables, where each table consists of rows and columns.

E.g -

Let's say we have a business that sells products to customers. We want to keep track of our products, customers and orders. To do this, create three tables: Products, Customers and Orders.

A product table can have columns for product ID, product name, price, and in-stock quantity. A customer table can have columns for customer ID, first name, last name, email address, and phone number. The Orders table can have columns OrderID, CustomerID, ProductID, OrderDate, and OrderAmount. We can create relationships between these tables using foreign keys. For example, the Customer ID column in the Orders table would be a foreign key that references the Customer ID column in the Customers table. This allows us to associate each order with the customer who placed the order.

With an RDBMS, We can perform various operations on a database, such as inserting new data, updating existing data, and performing data queries to retrieve information. For example, We can use SQL (Structured Query Language) to write a query to retrieve all orders placed by a particular customer or all products priced above a certain amount.

RDBMS also provides means to ensure data integrity and consistency. For example, you can define constraints on a table to enforce rules, such as not allowing duplicate data or requiring certain fields to be filled. You can also use transactions to ensure that a set of operations is performed as a unit, so that if part of the transaction fails, the entire transaction is rolled back. Overall, RDBMSs provide a powerful and flexible way to manage and work with relational databases.

 Example - Create a new SQLite database file called example.db and then create a table called students with three columns: id, name, and age. The id column is set as the primary key, which ensures that each row in the table has a unique identifier.

In [2]:
import sqlite3

In [3]:
# Connect to the database (or create it if it doesn't exist)
conn = sqlite3.connect('example.db')

In [4]:
# Create a cursor object to execute SQL commands
cur = conn.cursor()

In [5]:
# Create a table called "students" with three columns
cur.execute('''CREATE TABLE students
               (id INTEGER PRIMARY KEY,
                name TEXT,
                age INTEGER)''')

In [6]:
# Commit the changes and close the connection
conn.commit()
conn.close()

> Inserting data into the table

In [8]:
#inserging data into table
conn = sqlite3.connect('example.db')

In [9]:
# Create a cursor object
cur = conn.cursor()

In [10]:
# Insert a new row into the "students" table
cur.execute("INSERT INTO students (name, age) VALUES (?, ?)", ('Alice', 22))

In [11]:
# Insert another row
cur.execute("INSERT INTO students (name, age) VALUES (?, ?)", ('Bob', 25))

In [12]:
# Commit the changes and close the connection
conn.commit()
conn.close()

> Retrieving data from table

In [13]:
# Connect to the database
conn = sqlite3.connect('example.db')

In [14]:
# Create a cursor object
cur = conn.cursor()

In [15]:
# Execute a query to retrieve all rows from the "students" table
cur.execute("SELECT * FROM students")

In [16]:
# Fetch all the rows and print them
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 22)
(2, 'Bob', 25)

In [17]:
# Close the connection
conn.close()