#### About

> ETL processes

ETL stands for Extract, Transform and Load. It is the process used in a data warehouse to obtain data from various sources, transform the data to meet the specific requirements of the target data model, and load it into the data warehouse. 

To visualize the ETL process, let's take the example of a retail company that wants to analyze its sales data. Sales data can be scattered across different databases, spreadsheets, and other data sources. Businesses must extract, transform, and load this data into a data warehouse for meaningful analysis.

The ETL process for this retail business is as follows:

1. Extraction: Data is extracted from various sources such as point-of-sale systems, customer databases and spreadsheets.

2. Transformation: Data is transformed to make it suitable for analysis. For example, data may need to be cleaned, filtered and converted into a consistent format. Businesses may also need to perform calculations, combine data from multiple sources, and create derived fields.

3. Load: The transformed data is loaded into the data warehouse. This step involves mapping the transformed data into the appropriate tables and columns in the data warehouse. The retail store's sales data can then be analyzed using a data warehouse. The ETL process is a key part of the data warehousing process because it ensures that the data in the warehouse is accurate, consistent, and up-to-date.

In [1]:
# ETL on iris dataset
from sklearn.datasets import load_iris
import pandas as pd

In [2]:
#load
iris = load_iris()
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df['target'] = iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [3]:
#Transform
df['species'] = df['target'].map({0: 'setosa', 1: 'versicolor', 2: 'virginica'})
df.drop('target', axis=1, inplace=True)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [4]:
#load
from sqlalchemy import create_engine

engine = create_engine('sqlite:///iris.db', echo=True)
df.to_sql('iris', con=engine)

2023-05-01 19:04:38,238 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-01 19:04:38,243 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("iris")
2023-05-01 19:04:38,245 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-01 19:04:38,248 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("iris")
2023-05-01 19:04:38,249 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-01 19:04:38,250 INFO sqlalchemy.engine.Engine ROLLBACK
2023-05-01 19:04:38,257 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-01 19:04:38,259 INFO sqlalchemy.engine.Engine
CREATE TABLE iris (
	"index" BIGINT,
	"sepal length (cm)" FLOAT,
	"sepal width (cm)" FLOAT,
	"petal length (cm)" FLOAT,
	"petal width (cm)" FLOAT,
	species TEXT
)


2023-05-01 19:04:38,261 INFO sqlalchemy.engine.Engine [no key 0.00110s] ()
2023-05-01 19:04:38,547 INFO sqlalchemy.engine.Engine CREATE INDEX ix_iris_index ON iris ("index")
2023-05-01 19:04:38,551 INFO sqlalchemy.engine.Engine [no key 0.00427s] ()
2023-05-01 19:04:38,735 INFO sqlalchemy.engine.Engine COMMIT
2023-05-01 19:04:38,738 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-01 19:04:38,742 INFO sqlalchemy.engine.Engine INSERT INTO iris ("index", "sepal length (cm)", "sepal width (cm)", "petal length (cm)", "petal width (cm)", species) VALUES (?, ?, ?, ?, ?, ?)
2023-05-01 19:04:38,746 INFO sqlalchemy.engine.Engine [generated in 0.00588s] [(0, 5.1, 3.5, 1.4, 0.2, 'setosa'), (1, 4.9, 3.0, 1.4, 0.2, 'setosa'), (2, 4.7, 3.2, 1.3, 0.2, 'setosa'), (3, 4.6, 3.1, 1.5, 0.2, 'setosa'), (4, 5.0, 3.6, 1.4, 0.2, 'setosa'), (5, 5.4, 3.9, 1.7, 0.4, 'setosa'), (6, 4.6, 3.4, 1.4, 0.3, 'setosa'), (7, 5.0, 3.4, 1.5, 0.2, 'setosa')  ... displaying 10 of 150 total bound parameter sets ...  (148, 6.2, 3.4, 5.4, 2.3, 'virginica'), (149, 5.9, 3.0, 5.1, 1.8, 'virginica')]
2023-05-01 19:04:38,751 INFO sqlalchemy.engine.Engine COMMIT

150