#### About

> Data Integration

Data integration is the process of combining data from different sources into one unified view. It involves gathering data from different formats, systems and locations into one place where it can be analyzed and used to make informed decisions. Think of it as a puzzle. Each fragment represents different data from a different source. Taken separately, these fragments mean little, but put together they form a complete picture. Similarly, data integration combines data from different sources to create a complete, unified view that can be used to gain insights and make informed decisions. 

For example, a business may have customer data in multiple databases, spreadsheets, and other formats. By integrating this data, they can gain a comprehensive understanding of customer behavior, preferences and purchase history. This information can then be used to improve marketing efforts, customer service and other business processes.

In [2]:
import pandas as pd

In [3]:
# customer information dataset
customers = pd.DataFrame({
    'customer_id': [1, 2, 3, 4, 5],
    'customer_name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'customer_email': ['alice@example.com', 'bob@example.com', 'charlie@example.com', 'david@example.com', 'eve@example.com'],
})

In [4]:
# order history dataset
orders = pd.DataFrame({
    'order_id': [1, 2, 3, 4, 5, 6],
    'customer_id': [1, 2, 3, 1, 4, 5],
    'order_date': ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01'],
    'order_total': [100, 200, 150, 50, 300, 250],
})

In [5]:
#merging both dataset on customer id field
merged = pd.merge(customers, orders, on='customer_id', how='outer')

In [7]:
# display the merged dataset
(merged)

,customer_id,customer_name,customer_email,order_id,order_date,order_total
0,1,Alice,alice@example.com,1,2022-01-01,100
1,1,Alice,alice@example.com,4,2022-04-01,50
2,2,Bob,bob@example.com,2,2022-02-01,200
3,3,Charlie,charlie@example.com,3,2022-03-01,150
4,4,David,david@example.com,5,2022-05-01,300
5,5,Eve,eve@example.com,6,2022-06-01,250